.va-middle{
    vertical-align: middle !important;
    font-weight: bold;
}
.card-alert button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 15px;
  color: inherit;
}
.card-alert a{
  color: inherit;
  font-weight: 500;
}
.card-alert a:hover{
  color: inherit;
  text-decoration: underline;
}
th{
  min-width: 110px;
}
.table-responsive{
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.card.card-login {
  display: flex;
}
.card.card-login .card-login-splash {
  overflow: hidden;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  flex: 1;
}
.card.card-login .card-content {
  flex: 1;
}
.card.card-login .card-login-splash img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  display: block;
  z-index: -1;
}
