<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!--Import Google Icon Font-->    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    {{ style('materialize/css/materialize.min.css') }}
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <style>
        .va-middle{
            vertical-align: middle !important;
            font-weight: bold;
        }
        .card-alert button {
          background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
          border: medium none;
          color: #fff;
          font-size: 20px;
          position: absolute;
          right: 10px;
          top: 15px;
          color: inherit;
        }
        .card-alert a{
          color: inherit;
          font-weight: 500;
        }
        .card-alert a:hover{
          color: inherit;
          text-decoration: underline;
        }
    </style>

    <title>Registro | Postulantes</title>
  </head>
  <body>
      <div class="container">
        <div class="center-align">
            <img src="https://www.dreancash.gob.pe/Imagenes/logohome.png" width="40%" class="img-fluid" alt="drea">
            <h4>PROCESO DE SELECCIÓN Y CONTRATACIÓN </h4>
            <h5>DIRRECCIÓN REGIONAL DE EDUCACIÓN DE ANCASH </h5> 
        </div>
        @!section('content')
      </div>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {{script('https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')}}
    {{script('materialize/js/materialize.min.js')}}
    @!section('scripts')
  </body>
</html>

